/* BLOG */

.banner2{
    border-top: 5px solid $color-pink;   
}

.banner2 h1{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: lighter;
    font-size: 60px;
    border-bottom: 4px solid #02475e;
    max-width: 60px;
}

.blog{
    display: flex;
    margin: 30px 30px 30px;
}

.blog-uno, .blog-dos, .blog-tres{    
    margin: 10px;  
    padding: 20px;  
    /*background-color:#f3bda1;  
    box-shadow: 2px 2px 2px;*/  
    box-shadow: 0 0 11px 0 rgba(243, 189, 161, 0.5);   
}

.blog, .blog-uno, .blog-dos, .blog-tres, h3{
    font-weight: lighter;
    font-size: 30px;  
    margin-bottom: 10px;
}

.blog, .blog-uno, .blog-dos, .blog-tres, p{
    font-weight: lighter;
    font-size: 15px;  
    margin-bottom: 10px;
}

.blog a{    
    text-decoration: none;
    color: #02475e;
    font-weight:bolder;
    transition: 0.1s;
}

.blog a:hover{
    font-weight:bold;
}