.footer{
    margin: auto;
    background-color: #02475e;    
    font-family: 'Roboto', sans-serif;
    color: #fff;    
    display: flex;
    justify-content: center;   
    padding: 10px;  
    h1{
        font-weight: lighter;
    }
}