.footer{
    margin: auto;
    background-color: $color-darkblue;    
    font-family: 'Roboto', sans-serif;
    color: $color-white;    
    display: flex;
    justify-content: center;   
    padding: 10px;  
    h1{
        font-weight: lighter;
    }
}