.banner1{        
    border-top: 5px solid $color-pink;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    background-image: url(/img/books.jpg);
    background-repeat: no-repeat;
    background-size: 100%;    
}

.nosotros{
    grid-column: 2/4;
    margin-top: 30px;
    color: $color-white;
    background: rgba(243, 189, 161, 0.4);
    padding: 10px;    
    animation-duration: 1s;
    animation-name: desliza;
    h2{
        font-weight: lighter;
        font-size: 60px;  
    }
    p{
        font-weight: 500;
        font-size: 20px;
    }
}

.services-area{
    grid-column: 6/8;
    grid-row: 2;
    color: $color-white;   
    background: rgba(243, 189, 161, 0.4);
    padding: 10px;  
    animation-duration: 1s;
    animation-name: deslizados;  
    h2{
        font-weight: lighter;
        font-size: 60px; 
    }  
    ul{
        li{
            margin: 10px;
            font-weight: 500;
            font-size: 20px;
            a{
                position: absolute;
            }
        }
    }
}

.button-mas{
    text-decoration: none;
    font-size: 15px;
    color: $color-white;
    margin-left: 10px;       
}

.button-mas:hover{
    text-decoration: underline;
}

.main h2{
    font-size: 2em;
}

@keyframes desliza{ 
    from{
        margin-left: -60%;
        width: 100%;
    }

    to{
        margin-right: 0%;
        width: 100%;
    }
}

@keyframes deslizados{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}